.container__imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 0;
}

.imgs{
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-left: 2px solid #000000ce;
    
}

.img{
    height: 100%;
}